<div class="container my-4">
    <h1>{{movie.Title}}</h1>
    <div class="row">
        <div class="col-md-6">
            <img style="width: 100%; object-fit: cover;" [src]="movie.Poster" [alt]="movie.Title" (error)="onImageLoadError(movie)">
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-item-active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Year:</h5>
                  </div>
                  <p class="mb-1">{{movie.Year}}</p>
              </div>
              <div class="list-group">
                <div class="list-group-item list-group-item-active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Genre:</h5>
                  </div>
                  <p class="mb-1">{{movie.Genre}}</p>
              </div>
              <div class="list-group">
                <div class="list-group-item list-group-item-active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Director:</h5>
                  </div>
                  <p class="mb-1">{{movie.Director}}</p>
              </div>
              <div class="list-group">
                <div class="list-group-item list-group-item-active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Imdb Votes:</h5>
                  </div>
                  <p class="mb-1">{{movie.imdbVotes}}</p>
              </div>
        </div>
        <div>
            <h5 class="mt-4">Plot:</h5>
            <p>{{movie.Plot}}</p>
        </div>
    </div>
    
</div>